Django~=2.0.6

myvenv\Scripts\activate
python manage.py migrate
python manage.py runserver
python manage.py startapp blog

python manage.py makemigrations blog
python manage.py migrate blog

python manage.py createsuperuser

#git reposit
git init
git config --global user.name "Your Name"
git config --global user.email you@example.com

git status - показывет какие изменения на компе в сравнении с git

git add - отправляет файлы в git